@model dynamic

@{
    ViewBag.Title = "title";
}
<html>
<head>
    <title>title</title>
</head>
<body>
    <h2>title</h2>
    <form id="boundForm">
        <input name="name" type="text" />
        <input name="ssn" type="text" />
    </form>
    <div>
        Model Property "Name" value: 
        <div id="objectJson"></div>
    </div>
    <script src="~/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/tent/tent.light.debug.js" type="text/javascript"></script>
    <script src="~/Scripts/burnout/burnout.js" type="text/javascript"></script>
    <script type="text/javascript">
        var model = {
            name: "Marcus",
            nameChanged: function (change) {
                $('#objectJson').text(change.newValue);
            }
        };
        var binder = new Burnout.ModelBinder($('#boundForm'), model);
        binder.bind();
        $('#objectJson').text(model.name);
    </script>
</body>
</html>
